/**
 * Wrapper
 */
.wrapper {
  max-width: 72rem;
  padding: 0rem 4.5rem;
  margin-right: auto;
  margin-left: auto;
 
  @extend %clearfix;

  @include media-query($on-laptop) {
    padding: 0rem 0.4rem
  }
}



/**
 * Clearfix
 */
%clearfix:after {
  content: "";
  display: table;
  clear: both;
}
