---
layout: default
---
<article itemscope itemtype="http://schema.org/BlogPosting">

  <!-- <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {% assign date_format = site.cayman-blog.date_format | default: "%b %-d, %Y" %}
        {{ page.date | date: date_format }}
      </time>
      {% if page.author %}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>
      {% endif %}</p>
  </header> -->

  <div itemprop="articleBody">
    {{ content }}
  </div>

  <div class="post-categories"> 
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24"><path d="M9.776 2l11.395 11.395-7.78 7.777-11.391-11.391v-7.781h7.776zm.829-2h-10.605v10.609l13.391 13.391 10.609-10.604-13.395-13.396zm-3.191 7.414c-.781.782-2.046.782-2.829.001-.781-.783-.781-2.048 0-2.829.782-.782 2.048-.781 2.829-.001.782.783.781 2.047 0 2.829z"/></svg>
    {% if post %}
      {% assign categories = post.categories %}
    {% else %}
      {% assign categories = page.categories %}
    {% endif %}
    {% for category in categories %}
    <a href="{{site.baseurl}}/categories/#{{category|slugize}}">{{category}}</a>
    {% unless forloop.last %},&nbsp;{% endunless %}
    {% endfor %}
  </div>

  <b class="post-categories"> 
    如果你喜歡我的文章，<a target="_blank" href="https://www.facebook.com/people/Kai-Shengs-Blog/100083607360982/">歡迎按讚我的專頁</a>，就能獲取最新文章資訊哦。
  </b>

  <script src="https://utteranc.es/client.js"
        repo="KaiSheng714/KaiSheng714.github.io"
        issue-term="og:title"
        theme="github-light"
        crossorigin="anonymous"
        async>
  </script>

  <div style="color: white">
    <span id="busuanzi_container_page_pv">view:<span id="busuanzi_value_page_pv"></span></span>
  </div>
  <script>
    if (location.href.indexOf('ks=true') == -1) {
      var script = document.createElement("script");
      script.src = '//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js'; 
      document.head.appendChild(script);
    }
  </script>


</article>
